[phases.setup]
nixPkgs = ["nodejs_20", "openssl", "python3", "gcc"]

[phases.install]
cmds = [
    "cd app",
    "npm ci --include=dev"
]

[phases.build]
cmds = [
    "cd app",
    "npx prisma generate --engine-type binary",
    "npm run build"
]

[start]
cmd = "cd app && npm run docker-start"

[variables]
PRISMA_CLI_BINARY_TARGETS = '["native", "debian-openssl-1.1.x", "debian-openssl-3.0.x"]'
PRISMA_QUERY_ENGINE_BINARY = "debian-openssl-1.1.x"